.page-section {

  padding: 2rem 0;

  @mixin atMedium {
    padding: 3rem 0;
  }

  &--margin {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @mixin atMedium {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    
  }

}