.primary-nav {

  display: none;

  @mixin atMedium {
    display: block;
    float: left;
  }

  .icon {
    display: none;
  }


 li {
    list-style-type: none;
    display: inline-block;
    padding-left: 1rem;
    
  }

  ul {
    padding: 0;
    margin: 0;
    @mixin clearfix;
  }

  a {
    transition: all .4s;
    color: $mainLightBlue;
    direction: rtl;
    display: block;
  }

  a:hover {
    color: $mainOrange;
  }

  &__dropdownbtn {
    color: $mainLightBlue;
    cursor: pointer;
    transition: all .3s;
  }

  &__dropdownbtn:hover {
    color: $mainOrange;
  }
  
  &__dropdowncontent {
    position: absolute;
    display: none;
  }
  
  &__dropdown {

    li{
      padding: .5rem .8rem;
      background-color: $btnBgColor;
      display: block;
      transition: all .3s;
      font-size: 1.1rem;
    }

    li:hover {
      background-color: #fff;
      transform: scale(1.02);
      a {
        color: $mainOrange;
      }
    }
  }

  &__dropdown:hover .primary-nav__dropdowncontent {
    display: block;
    padding-top: 10px;
  }
}