.row {

  margin-right: -30px;

  &__gutters > div {
    padding-right: 30px;
  }

  &__gutters--large {
    margin-right: -60px;
  }

  &__gutters--large > div {
    padding-right: 60px;
  }

  @mixin atLarge {

    &__gutters--huge {
      margin-right: -120px;
    }
  
    &__gutters--huge > div {
      padding-right: 120px;
    }
  }

  @mixin atMedium {

    &__medium-4 {
      float: right;
      width: 33.33%;

      &--floated-left {
        float:left;
      }
    }


  
    &__medium-8 {
      float: right;
      width: 66.66%;

      &--floated-left {
        float:left;
      }
    }
  
    &__medium-6 {
      float: right;
      width: 50%;
    }
  }

}